<!DOCTYPE html>
<html>
    <head>
        <title>Sentiment analysis</title>
    </head>
    <link rel="stylesheet" href="Styles/sample.css">
    <body>
        <h1 class="text-center">Sentiment Analysis</h1>
        <form class = "text-center" action='/', method = "post" enctype = "multipart/form-data">
            <input class="form-control" type = "text" name="sentiment_text" placeholder="Enter text">
            <input class="btn" type="submit" value="Predict Sentiment"> 
        </form>
        <h1 class="output">{{message}} </h1>
    </body>


</html> 